{% extends 'react-base.html' %}
{% load static %}

{% block app_tittle %}
<span id="title"></span>
{% endblock %}
{% block app %}
<form method="post">
    {% csrf_token %}
    <div id="react-root">Hi</div>
</form>
{% endblock %}

{% block app_scripts %}
<script type="text/babel" src="{% static 'react/create-objective.jsx' %}"></script>
<script type="text/babel" src="{% static 'react/user.jsx' %}"></script>
<script type="text/babel" src="{% static 'react/user-list.jsx' %}"></script>
<script type="text/babel" src="{% static 'react/judgement-table.jsx' %}"></script>
<script type="text/babel">
    axios.defaults.xsrfHeaderName = "X-CSRFToken";
    ReactDOM.render(
        <ObjectiveCreateComponent />,
        document.getElementById('react-root')
    );
</script>
{% endblock %}